@model PoolScoreKeeper.Models.ComparePlayersStatistics

@{
    ViewBag.Title = "PlayerComparison";
}


<div class="col-sm-12 text-center">
    @Html.ActionLink("GO BACK", "Index", "Home", new { @class = "btn btn-lg submit-btn"})
</div>
<div class="col-md-offset-2 col-sm-4">
    <div class="player-stats">
    <h1 class="text-center">@Model.WinningSidePlayer.Name</h1>
        <table class="table player-compare-table">
            <tr>
                <td>Wins</td>
                <td>@Model.WinningSidePlayer.Wins</td>
            </tr>
            <tr>
                <td>Losses</td>
                <td>@Model.WinningSidePlayer.Losses</td>
            </tr>
            <tr>
                <td>Win ratio</td>
                <td>@Model.WinningSidePlayer.WinRatio</td>
            </tr>
            <tr>
                <td>Winning eightballs</td>
                <td>@Model.WinningSidePlayer.WinningEightBalls</td>
            </tr>
            <tr>
                <td>Eightballs of death</td>
                <td>@Model.WinningSidePlayer.LosingEightBalls</td>
            </tr>
        </table>
    </div>
</div>

<div class="col-sm-4">
    <div class="player-stats">
        <h1 class="text-center">@Model.RunnerUpSidePlayer.Name</h1>
        <table class="table player-compare-table">
            <tr>
                <td>Wins</td>
                <td>@Model.RunnerUpSidePlayer.Wins</td>
            </tr>
            <tr>
                <td>Losses</td>
                <td>@Model.RunnerUpSidePlayer.Losses</td>
            </tr>
            <tr>
                <td>Win ratio</td>
                <td>@Model.RunnerUpSidePlayer.WinRatio</td>
            </tr>
            <tr>
                <td>Winning eightballs</td>
                <td>@Model.RunnerUpSidePlayer.WinningEightBalls</td>
            </tr>
            <tr>
                <td>Eightballs of death</td>
                <td>@Model.RunnerUpSidePlayer.LosingEightBalls</td>
            </tr>
        </table>

    </div>
</div>